body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}


main {
    flex: 1 0 auto;
}

footer {
    position: relative;
    flex-direction: column;
    display:flex;
    flex:0;
    
}

.nav {
    height: 100px;
}

.logo {
    height:100px;
    width:150px;
}

.solopic {
    max-width: 250px;
    max-height: 250px;
}