body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}


main {
    flex: 1 0 auto;
}

footer {
    position: relative;
    flex-direction: column;
    display:flex;
    flex:0;
    
}

.nav {
    height: 100px;
}

.startBox {
    display: block;
    max-width: 650px;
    padding: 28px;
    background-color: rgba(255,255,255,.9);
    text-align: center;
    position: relative;
    top: 120px;
}

.logo {
    height:100px;
    width:150px;
}

.solopic {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.project {
    padding: 16px;
}

.projectCard {
    max-width: 500px;
    max-height: 450px;
    margin: 20px;
    
}

.project1 {
    height:200px;
}

.comingSoon {
    max-width: 500px;
    max-height: 200px;
    
    
}
.loveQuest {
    max-width: 1000px;
    max-height: 225px;
}

.contact {
    top: 100px;
    border: black 10px;
}

.send {
    text-align: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}

.dropdown {
    max-width: 500px;
    max-height: 250px;

}

